body{
	margin: 0px;
	padding: 0px;
	font-family: "微软雅黑";
	font-size: 16px;
	color:#5E5E5E;	
}
.mr40{
	margin-top: 5%;
}
.mt20{
	margin-top: 20px;
	margin-bottom: 20px;
}
.mb40{
	margin-bottom: 40px;
}
.People_n,.people_p{
	color:#5E5E5E;
	margin-top: 10px;
}
.hr_s{
	height:2px;
	border:none;
	border-top:2px dashed #0066CC
}
