.content{
    margin-top: 50px;
    .name,.email,.add,.ma,.sp{
        width:45%;
    }
    .input_text{
        width: 13%;
        display: inline;
    }
    .save{
        cursor: pointer;
        width: 100px;
        font-size: 14px;
        height: 35px;
        padding-top: 8px;
        margin-top: 10px;
        background: #85b01d;
        text-align: center;
        color: white;
        border-radius: 4px;
    }
}
