.tab{
    
    li{
       a{
           display: block;
           background: #390C20;
           color: white;
           border-radius: 8px;
           margin-bottom: 5px;
           padding-left: 10px;
          padding-top: 3px;
          padding-bottom: 3px;
           width:160px;
       }
    }
}
.index{
  
    .active{
        background: #9DC819;
        border: none!important;
    }   
}
.Introduced{
    h3,p{
        font-family: "SimHei";
        color:rgb(51, 0, 0);
    }
    h6{
        border-bottom: 1px solid rgb(51, 0, 0);
        box-sizing: border-box;
        padding-bottom: 6px;
        font-weight: bold;
    }
    p{
        font-size: 13px;
    }
    h3{
         font-size: 23px;
    }
    .getContant{
            background: #9DC819 ;
            margin-top: 10px;
            color: white;
            width: 100%;
            border: none !important;
    }
    .getContant:hover{
        color: rgb(51, 0, 0);
        border: none !important;
    }
}
.address{
     border-bottom: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 10px 0px;
    width: 100%;
}
.modal_align{
display: table;
height: 100%;
margin: 0px auto;
}
.mymodal{
    display: table-cell;
    vertical-align: middle;
}
.addclass{
    background: #9DC819 !important;
    color:white!important ;
    font-weight: bold;
}

.show1{
    background:#9DC819 ;
    border-radius: 5px;
    color: white !important;
   
}
.div_20_width{
    width:20%;
    cursor: pointer;
}
.topbar{
    display: none;
    li{
        padding-top:8px;
        padding-bottom:8px;
        font-size: 12px;
       color:rgb(51, 0, 0) !important;    font-family:"SimHei";
    }
}
.phone{
    padding-top:60px !important;
    cursor: pointer;
    p:first-child{
        color:#87B82A ;
    }
    P:first-child:hover{
        color:rgb(51, 0, 0); 
    }
}

.getContantShow{
    box-sizing: border-box;
    padding-top: 12px;
    padding-bottom: 12px;
}
.emailShow,.phone,.contantUs_show{
    display: none;
}
@media only screen and (max-width: 992px) {
  .tabp,.contantUs,.email {
    display: none;
    
  }
  .topbar,.emailShow,.phone,.contantUs_show{
      display: block;
  }
}
.main{
    box-sizing: border-box;
    padding-top:60px;
    padding-bottom: 40px;
}